page-home {
button{
    background-color:darkcyan !important;
}

ion-content{
background-color: cadetblue !important;
text-align: center;
}

ion-title{
    background-color:darkcyan !important;
    text-align: center;
}
}
