page-sign-up {
button{
    background-color: darkcyan !important;
}

ion-content{
    background-color: cadetblue !important;
}

ion-title{
    background-color:darkcyan !important;
    text-align: center;
}
}
